body
{
 background: rgb(22, 21, 20);
 font-size: 16px;
}

a
{
  text-decoration: none;
}

ul
{
  margin: 20% 0 0% 0%;
}

ul li
{
  list-style: none;
}

ul li a
{
 text-decoration: none; 
}

ul li a p
{
  width: 75%;
  list-style-type: none;
  background: #E94016;
  border-bottom: solid thin white;
  padding: .3em 1em .3em;
  text-decoration: none;
  color: white;
  font-size: 13px;
}


h1
{
  padding-bottom: 2em;
  border-bottom: none;
  font-size: 16px;
  margin: 0;
  padding: 5px 0 .3em;
  line-height: 32px;
  text-align: center;
  color: black;
}

h3
{
  text-transform: uppercase;
  font-size: 13px;
  line-height: 32px;
  border-bottom: 1px #eee solid;
  color: #FFF7F7;
  margin-bottom: 2.5em;
  padding-bottom: .5em;
}

header.sidebar
{
  background-color: #EEEEEE;
  width: 30%;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  bottom: 0;
  top: 0;
}

section.sidebar_information
{
  color: white;
}

div.sidebar_userimage
{
  cursor: pointer;
  border-radius: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0% 35% 0;
  padding: 8% 0 0;
  text-align: center;

}

div.sidebar_userimage img
{

  border-radius: 26px;
  width: 75px;
  padding: 7px;
  border: 1px solid #ccc; 
}

div.authorship
{
  border-bottom: solid 1px white;
  background: black;
  border-top: solid 1px white;
  padding: 3% 0;
  margin: 12% 0;
}

div.logo
{
  display: inline-block;
  width: 30%;
  text-align: center;
  padding: 3% 0 0;
}

div.logo img
{
  width: 45px;
  border-radius: 45px;
  padding: 0;
  margin: 0;
}

div.name
{
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0% 33%;
  font-size: 15px;
  text-align: center;
}

div.name p
{
  color: rgb(255, 255, 255)
}

div.principal-layout
{
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0;  
  overflow-x: auto;
  width: 55%;
  padding: 0% 6.5%;
}

div.block
{
  margin: 5% 0 0;
}

div.block p
{
  color: rgb(255, 255, 255);
  line-height: 1.9em;
}